# Evennia dependencies

# general
django >= 3.2.0
twisted >= 21.0.0
pytz
inflect
autobahn >= 20.2.1
model_mommy

# testing and development
mock >= 1.0.1
anything
black

# windows-specific
pypiwin32;platform_system=="Windows"

# Muddery dependencies
apscheduler >= 3.7.0

# world editor
pillow
xlrd >= 1.0.0
xlwt >= 1.2.0
