# Evennia dependencies, for Linux/Mac platforms

# general
django >= 2.1, < 2.2
twisted >= 19.2.1, < 20.0.0
pillow == 6.2.0
pytz
future >= 0.15.2
django-sekizai
inflect
autobahn >= 17.9.3
model_mommy

# testing
mock >= 1.0.1
anything

# Muddery dependencies, for Linux/Mac platforms

# world editor
xlrd >= 1.0.0
xlwt >= 1.2.0
