# Evennia dependencies

# general
django >= 3.2.0
channels >= 3.0.0
sqlalchemy >= 1.4.0

# windows-specific
pypiwin32;platform_system=="Windows"

# Muddery dependencies
apscheduler >= 3.7.0

# world editor
pillow
xlrd >= 1.0.0
xlwt >= 1.2.0
