<!DOCTYPE html>
<html lang="en-us">
    <head>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, user-scalable=no" />
        <meta charset="utf-8" />

        <!--CSS style sheet -->
        <link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/webclient.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/quests.css" />

        <script src="../libs/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="../controllers/quests.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div id="box_quests">
        	<table id="tab_quests">
        		<thead>
        			<tr>
        				<th id="view_name">NAME</th>
        				<th id="view_desc">DESC</th>
        				<th id="view_objective">OBJECTIVE</th>
        			</tr>
        		</thead>
        		<tbody id="quest_list">
        			<tr class="template">
        				<td>
        					<a class="quest_name" href="#" onclick="controller.doLook(this)"></a>
        				</td>
        				<td class="quest_desc"></td>
        				<td class="quest_objective">
        					<p class="template"></p>
        				</td>
        			</tr>
        		</tbody>
        	</table>
        </div>
    </body>
</html>
