
#frame_combat .img_icon {
	width: 30px;
	height: 30px;
}

#frame_combat #combat_center_time {
    text-align: center;
}

#frame_combat #combat_status_bar {
    margin: 10px 0px 0px 0px;
}

#frame_combat #combat_messages {
    overflow-x: hidden;
    overflow-y: auto;
	height: 100px;
}

#frame_combat #combat_characters {
	min-height: 100px;
}

#frame_combat #combat_buttons {
    height: 90px;
}

#frame_combat .teammate {
    padding: 0px;
    position: absolute;
    left: 12%;
    text-align: left;
    line-height: 1.2em;
}

#frame_combat .enemy {
    padding: 0px;
    position: absolute;
    right: 12%;
    text-align: right;
    line-height: 1.2em;
}

/* combat button */
#frame_combat .btn_combat,
#frame_combat .btn_combat:focus,
#frame_combat .btn_combat:hover,
#frame_combat .btn_combat:active {
    position: absolute;
    width: 60px;
    height: 72px;
    font-size: 11px;
    padding: 2px 2px 0px 2px;
    margin: 0px;
    background-color: #000;
    border-style: none;
    outline: none;
    color: #333;
}

#frame_combat .btn_combat div.cooldown {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #600;
    opacity: 0.5;
}

#frame_combat .command_name {
    border: 1px solid;
    border-color: #ccc;
    border-radius: 4px;
    background-color: #ddd;
    margin: 2px 0px 0px 0px;
}
