
#frame_goods #goods_div_icon {
    text-align: center;
}

#frame_goods #goods_img_icon {
	width: 40px;
	height: 40px;
}

#frame_goods #goods_price {
    text-align: center;
}

#frame_goods #goods_popup_footer {
    text-align: center;
}
