
#name_content {
    color: #00ffff;
}

.scene_object {
    margin: 0px 5px;
}

.exit_table {
    line-height: 1;
    background: #333;
    border-width: 1px;
    border-color: #666;
    border-style: solid;
}

.exit_table td {
    min-width: 52px;
    height: 16px;
}

.exit_element {
    margin: 0px 5px;
}

.exit_cmd a {
    color: #0ff;
}