
#frame_scene #name_content {
    color: #00ffff;
}

#frame_scene .scene_object {
    margin: 0px 5px;
}

#frame_scene .exit_table {
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    border-color: #666;
    border-style: solid;
}

#frame_scene .exit_table td {
    min-width: 52px;
    height: 16px;
}

#frame_scene .exit_element {
    margin: 0px 5px;
}

#frame_scene .exit_cmd a {
    color: #0ff;
}