
#shop_name {
    color: #0ff;
    text-align: center;
}

#header_goods_name {
    min-width: 60px;
}

#header_goods_price {
    min-width: 60px;
}

.div_name {
    text-align: center;
}

.goods_icon {
    text-align: center;
}

.img_icon {
	width: 30px;
	height: 30px;
}
