
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #222;
    color: #ccc;
    margin: 0;
}

.hidden {
    display: none;
}

#wrapper {
    width: 100%;
    height: 100%;
}

.main-window {
    width: 100%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.background-window {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.background-table {
    height: 100%;
    width: 100%;
    background: #555;
    border: none;
    padding: 0;
}

.background-table td {
    border: none;
    padding: 0;
}

.background-left-top {
    width: 50px;
    height: 50px;
    background: url(../img/main_corner_left_top.png) no-repeat center center;
}

.background-center-top {
    height: 50px;
    background: url(../img/main_border_top.png) no-repeat center center;
}

.background-right-top {
    width: 50px;
    height: 50px;
    background: url(../img/main_corner_right_top.png) no-repeat center center;
}

.background-left-center {
    width: 50px;
    background: url(../img/main_border_left.png) no-repeat center center;
}

.background-center-center {
    background: url(../img/main_background.png) no-repeat center center;
}

.background-right-center {
    width: 50px;
    background: url(../img/main_border_right.png) no-repeat center center;
}

.background-left-bottom {
    width: 50px;
    height: 50px;
    background: url(../img/main_corner_left_bottom.png) no-repeat center center;
}

.background-center-bottom {
    height: 50px;
    background: url(../img/main_border_bottom.png) no-repeat center center;
}

.background-right-bottom {
    width: 50px;
    height: 50px;
    background: url(../img/main_corner_right_bottom.png) no-repeat center center;
}

.background-login {
    background: url(../img/login_background.png) no-repeat center center;
}

/************* buttons begin *************/
.button-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: none;
    background: url(../img/icon_back.png) no-repeat center center;
}

.button-close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 18px;
    height: 18px;
    border: none;
    background: url(../img/icon_close.png) no-repeat center center;
}

/************* buttons end *************/

/************* Popup Window begin *************/
#popup {
}

.message-window {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
}

.message-box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 75%;
    min-height: 50%;
    transform: translate(-50%, -50%);
    z-index: 10010;
    padding: 5px;
    background: #000;
    border: solid 1px #fff;
    border-radius: 5px;
}

.msg-header {
    text-align: center;
}

.msg-body {
    padding: 5px;
}

.msg-footer {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
}

.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

/************* Popup Window end *************/

/************* Login Window begin *************/
#login-window .login-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#login-window .login-header {
    padding: 0 5px;
    text-align: center;
}

#login-window .login-header-buttons {
    width: 120px;
    margin: 0 auto;
}

#login-window .tab-inactivate {
    color: #777;
}

#login-window .login-box td {
    height: 44px;
    padding: 5px;
}

#login-window .checkbox-auto-login {
    padding: 20px 0;
}

#login-window .button-login,
#login-window .button-register {
    width: 100%;
}

/************* Login Window end *************/

/************* Select Character Window begin *************/
#select-char-window .sc-title-bar {
    position: relative;
    text-align: center;
}
/************* Select Character Window end *************/
