
:root {
    --title-bar-height: 0.6rem;
    --bottom-bar-height: 0.8rem;

    --login-background: url(../img/login_background.png);
    --login-form: url(../img/login_form.png);
    --login-tab-activate: url(../img/login_tab_activate.png);
    --login-tab-inactivate: url(../img/login_tab_inactivate.png);
    --login-input-box: url(../img/login_input_box.png);
    --login-button: url(../img/login_button.png);

    --new-char-title: url(../img/title-bar.png);
    --new-char-tab-bar: url(../img/bottom-bar.png);
}

html {
    font-size: 100px;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #222;
    font-size: 0.14rem;
    color: #ccc;
    margin: 0;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	user-select:none;
}

:focus {
    outline: none;
}

.hidden {
    display: none;
}

#windows-wrapper {
    width: 100%;
    height: 100%;
}

.main-window {
    width: 100%;
    height: 100%;
    position: relative;
}

.title-bar {
    position: relative;
    height: var(--title-bar-height);
    text-align: center;
}


/************* backgrounds begin *************/
.background-window {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.background-table {
    height: 100%;
    width: 100%;
    background: #555;
    border: none;
    padding: 0;
}

.background-table td {
    border: none;
    padding: 0;
}

.background-top {
    height: var(--background-top);
    background: url(../img/main_border_top.png) no-repeat center center;
}

.background-center {
    background: url(../img/main_background.png) no-repeat center center;
}

.background-bottom {
    height: var(--background-bottom);
    background: url(../img/main_border_bottom.png) no-repeat center center;
}

/************* backgrounds end *************/


/************* animations begin *************/
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

.image-rotate {
    -webkit-transform: rotate(360deg);
    animation: rotation 1.0s linear infinite;
    -moz-animation: rotation 1.0s linear infinite;
    -webkit-animation: rotation 1.0s linear infinite;
    -o-animation: rotation 1.0s linear infinite;
}
/************* animations end *************/

/************* indicators begin *************/
#indicator-layer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	height: 100%;
}

.indicator-box {
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -20px;
}

.waiting-indicator {
	width: 40px;
	height: 40px;
	margin: 0 auto;
	background: url(../img/waiting.png) no-repeat center;
	background-size: 40px 40px;
}
/************* indicators end *************/


/************* buttons begin *************/
.button-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: none;
    background: url(../img/icon_back.png) no-repeat center center;
}

.button-close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 18px;
    height: 18px;
    border: none;
    background: url(../img/icon_close.png) no-repeat center center;
}

.button-delete {
    width: 18px;
    height: 18px;
    border: none;
    background: url(../img/icon_delete.png) no-repeat center center;
}

/************* buttons end *************/


/************* popup window begin *************/
#popup {
}

.popup-window {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
}

.popup-box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 75%;
    min-height: 50%;
    transform: translate(-50%, -50%);
    z-index: 10010;
    padding: 5px;
    background: #000;
    border: solid 1px #fff;
    border-radius: 5px;
}

.popup-header {
    text-align: center;
}

.popup-body {
    padding: 5px;
}

.popup-footer {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
}

.popup-button {
    margin: 5px;
}

.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

/************* popup window end *************/


/************* login window begin *************/
#login-window {
    background: no-repeat center;
    background-image: var(--login-background);
    background-size: 100% 100%;
}

#login-window .upper {
    width: 100%;
    height: 40%;
    padding-bottom: 1.2rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#login-window .game-title {
    position: relative;
    width: 100%;
    height: 100%;
}

#login-window .title-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-size: 0.32rem;
    font-weight: 700;
}

#login-window .login-box {
    position: absolute;
    left: 50%;
    top: 40%;
    width: 2.8rem;
    height: 2.4rem;
    transform: translate(-50%, -50%);
    background: no-repeat bottom;
    background-image: var(--login-form);
    background-size: 2.8rem 2.1rem;
}

#login-window .login-header {
    padding: 0 5px;
    text-align: center;
}

#login-window .login-form,
#login-window .register-form {
    width: 2.8rem;
    height: 2.1rem;
    bottom: 0;
    padding: 0.1rem;
}

#login-window .login-header {
    padding: 0;
    float: left;
}

#login-window button.tab {
    width: 0.6rem;
    height: 0.33rem;
    color: #888;
    font-weight: 700;
    border: none;
    background: no-repeat bottom;
    background-image: var(--login-tab-inactivate);
    background-size: 0.6rem 0.33rem;
}

#login-window button.tab.activate {
    color: #333;
    background-image: var(--login-tab-activate);
}

#login-window .login-box td {
    height: 0.3rem;
    padding: 0;
    text-align: center;
}

#login-window .input-text {
    border: none;
    padding: 0;
    margin: 0 auto;
    width: 2.2rem;
    height: 0.3rem;
    padding: 0 0.1rem;
    background: no-repeat center;
    background-image: var(--login-input-box);
    background-size: 2.4rem 0.3rem;
}

#login-window .login-auto-login {
    float: left;
    padding-left: 0.1rem;
}

#login-window .text-auto-login {
    color: #333;
}

#login-window .checkbox-auto-login {
    padding: 0.2rem 0;
}

#login-window .button-login,
#login-window .button-register {
    width: 1.6rem;
    height: 0.25rem;
    padding: 0;
    border: none;
    background: no-repeat center;
    background-image: var(--login-button);
    background-size: 1.6rem 0.25rem;
}

#login-window .lower {
    width: 100%;
    height: 60%;
    padding-top: 1.2rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#login-window .login-welcome {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.4rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333;
}

/************* login window end *************/


/************* select character window begin *************/
#select-char-window .title-bar {
    width: 100%;
    height: 0.6rem;
    background: no-repeat center;
    background-image: var(--new-char-title);
    background-size: 100% 100%;
}

#select-char-window .character-item {
    margin: 10px;
}

#select-char-window .button-delete {
    margin: 0 10px 0 0;
    vertical-align: middle;
}

#select-char-window .char-name {
    vertical-align: middle;
}
/************* select character window end *************/


/************* new character window begin *************/
#new-char-window .char-attributes p {
    margin: 10px 0 0 0;
}

#new-char-window .button-bar {
    margin: 20px 0 10px 0;
    text-align: center;
}
/************* new character window end *************/


/************* password window begin *************/
#password-window .button-confirm {
    float: left;
}

#password-window .button-cancel {
    float: right;
}
/************* passwprd window end *************/


/************* main game window begin *************/
#game-window .main-contents {
    height: 100%;
}

#game-window .contents {
    width: 100%;
    height: 100%;
    padding: 0 0 25px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#game-window .game-content-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 0 25px 0;
    box-sizing: inherit;
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
}
/************* main game window end *************/

/************* bar begin *************/
.tab-bar {
    position: absolute;
    height: var(--bottom-bar-height);
    left: 0;
    bottom: 0;
}

.tab-bar .popup-menu {
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}
/************* tab bar end *************/


/************* prompt bar begin *************/
.prompt-bar {
    font-size: 12px;
    height: 20px;
}

.prompt-bar .icon {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.prompt-bar .name {
    padding: 0 2px;
    vertical-align: bottom;
}

.prompt-bar .title {
    padding: 0 0 0 2px;
    vertical-align: bottom;
}

.prompt-bar .value {
    padding: 0 2px 0 0;
    vertical-align: bottom;
}
/************* prompt bar end *************/

/************* scene window begin *************/
#main-contents .scene-window {
    height: 70%;
    font-size: 12px;
}

#main-contents .scene-window .scene-exits {
    position: relative;
}

#main-contents .scene-window .exits-table {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#main-contents .scene-window .exits-table p {
    margin: 0;
    padding: 5px 5px;
}

#main-contents .scene-window .cell-left {
    text-align: right;
}

#main-contents .scene-window .cell-center {
    text-align: center;
}

#main-contents .scene-window .cell-right {
    text-align: left;
}

#main-contents .scene-window .cell-top {
    vertical-align: bottom;
}

#main-contents .scene-window .cell-middle {
    vertical-align: middle;
}

#main-contents .scene-window .cell-bottom {
    vertical-align: top;
}

#exits-svg {
    position: absolute;
}
/************* scene window end *************/


/************* message window begin *************/
#message-window {
}

#message-window .message-list {
    height: 100%;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: auto;
}
/************* message window end *************/


/************* character data window begin *************/
#char-data-window {
    position: relative;
    height: 100%;
    text-align: center;
}

#char-data-window .equipments {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#char-data-window .equipments .position {
    position: absolute;
}

#char-data-window .equipments .icon {
    width: 30px;
    height: 30px;
}

#char-data-window .equipments .position_head {
    top: 0;
    left: 50%;
    transform: translate(-15px, 0);
}

#char-data-window .equipments .position_hand {
    top: 40px;
    right: 10px;
}

#char-data-window .equipments .position_chest {
    top: 40px;
    left: 50%;
    transform: translate(-15px, 0);
}

#char-data-window .equipments .position_leg {
    top: 80px;
    right: 50%;
    transform: translate(15px, 0);
}

#char-data-window .char-data {
    position: absolute;
    bottom: 0;
    text-align: left;
}

#char-data-window .data-table {
    width: 100%;
    font-size: 12px;
}

#char-data-window .row-name .icon {
    width: 40px;
    height: 40px;
}
/************* character data window end *************/


/************* inventory window begin *************/
#inventory-window .inventory-table {
    width: 100%;
    font-size: 12px;
}

/************* inventory window end *************/


/************* skills window begin *************/
#skills-window .skills-table {
    width: 100%;
    font-size: 12px;
}

/************* skills window end *************/


/************* quests window begin *************/
#quests-window .quests-table {
    width: 100%;
    font-size: 12px;
}

/************* quests window end *************/


/************* map window begin *************/
#map-window {
}
/************* map window end *************/


/************* combat window begin *************/
#combat-window .character-icon,
#combat-window .command-icon {
	width: 30px;
	height: 30px;
}

#combat-window .combat-characters {
    position: relative;
	min-height: 100px;
}

#combat-window .teammate {
    padding: 0px;
    position: absolute;
    left: 12%;
    text-align: left;
    line-height: 1.2em;
}

#combat-window .enemy {
    padding: 0px;
    position: absolute;
    right: 12%;
    text-align: right;
    line-height: 1.2em;
}

#combat-window .combat-messages {
    overflow-x: hidden;
    overflow-y: auto;
	height: 100px;
}


/* combat button */
#combat-window .combat-buttons {
    position: relative;
    height: 90px;
}

#combat-window .btn-combat,
#combat-window .btn-combat:focus,
#combat-window .btn-combat:hover,
#combat-window .btn-combat:active {
    position: absolute;
    width: 60px;
    height: 72px;
    font-size: 11px;
    padding: 2px 2px 0px 2px;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    outline: none;
    color: #333;
}

#combat-window .btn-combat div.cooldown {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #600;
    opacity: 0.5;
}

#combat-window .command-name {
    border: 1px solid;
    border-color: #ccc;
    border-radius: 4px;
    background-color: #ddd;
    margin: 2px 0px 0px 0px;
}

#combat-window .combat-result {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: 20px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #333;
}

/************* combat window end *************/


/************* shop window begin *************/
#shop-window {
    background: #000;
    z-index: 1;
}
/************* shop window end *************/


/************* goods window begin *************/
#goods-window {
    z-index: 2;
}

#goods-window .goods-box {
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
}

#goods-window .goods-content {
    width: 100%;
    height; 100%;
    background: #333;
}

#goods-window .goods-div-icon,
#goods-window .goods-div-price,
#goods-window .goods-footer {
    text-align: center;
}
/************* goods window end *************/