<!DOCTYPE html>
<html lang="zh-CN">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>应用</title>
        <meta name="HandheldFriendly" content="True" />
        <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div><h3>Apply all changes to your game.</h3></div>
        <button id="apply-button" type="button" class="btn btn-success">Apply</button>

        <script src="../libs/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="../libs/bootstrap.min.js" type="text/javascript"></script>
        <script src="../config.js" type="text/javascript"></script>
        <script src="../service/service.js" type="text/javascript"></script>
        <script src="../utils/utils.js" type="text/javascript"></script>
        <script src="../controller/apply_changes.js" type="text/javascript"></script>
    </body>

</html>
