<!DOCTYPE html>
<html lang="zh-CN">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Muddery编辑器</title>
        <meta name="HandheldFriendly" content="True" />
        <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../css/main.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div id="login-view">
            <div id="login-box" class="container">
                <div class="well">
                    <h2 class="title">欢迎登录</h2>
                    <div role="form">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名"/>
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码"/>
                        </div>
                        <div id="login-message">
                        </div>
                        <button id="button-login" type="button" class="btn btn-success btn-block">登录</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="editor-view" style="display:none">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Muddery编辑器</a>
                </div>
                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                用户<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu navbar-drop-menu">
                                <li><button type="button" id="button-logout" class="btn-link">登出</button></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                </div>
            </nav>
            <div class="col-xs-2" id="menu-box">
                <div class="panel-group table-responsive" role="tablist">
                    <div class="panel panel-primary leftMenu">
                        <div class="panel-heading" id="collapseListGroupHeading1" data-toggle="collapse" data-target="#collapseListGroup1" role="tab" >
                            <h4 class="panel-title">
                                基本设置
                                <span class="glyphicon glyphicon-chevron-down right"></span>
                            </h4>
                        </div>
                        <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="game_settings">
                                    游戏设置
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="equipment_types">
                                    装备类型
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="equipment_positions">
                                    装备位置
                                </button>
                              </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary leftMenu">
                        <div class="panel-heading" id="collapseListGroupHeading2" data-toggle="collapse" data-target="#collapseListGroup2" role="tab" >
                            <h4 class="panel-title">
                                世界地图
                                <span class="glyphicon glyphicon-chevron-down right"></span>
                            </h4>
                        </div>
                        <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading2">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="world_areas">
                                    区域
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="world_rooms">
                                    房间
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="world_exits">
                                    出口
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="world_objects">
                                    世界物体
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="world_npcs">
                                    世界NPC
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="condition_desc">
                                    条件描述
                                </button>
                              </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary leftMenu">
                        <div class="panel-heading" id="collapseListGroupHeading3" data-toggle="collapse" data-target="#collapseListGroup3" role="tab" >
                            <h4 class="panel-title">
                                角色
                                <span class="glyphicon glyphicon-chevron-down right"></span>
                            </h4>
                        </div>
                        <div id="collapseListGroup3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading3">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="character_attributes_info">
                                    角色属性信息
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="character_models">
                                    角色模版
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="world_npcs">
                                    世界NPC
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="common_characters">
                                    普通角色
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="default_objects">
                                    角色默认物品
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="skill_types">
                                    技能类型
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="skills">
                                    技能
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="default_skills">
                                    角色默认技能
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="npc_dialogues">
                                    NPC对话
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="character_loot_list">
                                    角色掉落表
                                </button>
                              </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary leftMenu">
                        <div class="panel-heading" id="collapseListGroupHeading4" data-toggle="collapse" data-target="#collapseListGroup4" role="tab" >
                            <h4 class="panel-title">
                                物体
                                <span class="glyphicon glyphicon-chevron-down right"></span>
                            </h4>
                        </div>
                        <div id="collapseListGroup4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading4">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="world_objects">
                                    世界物体
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="common_objects">
                                    普通物品
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="food_attributes_info">
                                    食物属性信息
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="foods">
                                    食物
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="skill_books">
                                    技能书
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="equipments">
                                    装备
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="object_creators">
                                    物品生成器
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="creator_loot_list">
                                    物品生成表
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="default_objects">
                                    默认物品
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="condition_desc">
                                    条件描述
                                </button>
                              </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary leftMenu">
                        <div class="panel-heading" id="collapseListGroupHeading5" data-toggle="collapse" data-target="#collapseListGroup5" role="tab" >
                            <h4 class="panel-title">
                                装备
                                <span class="glyphicon glyphicon-chevron-down right"></span>
                            </h4>
                        </div>
                        <div id="collapseListGroup5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading5">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="equipment_types">
                                    装备类型
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="equipment_positions">
                                    装备位置
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="equipment_attributes_info">
                                    装备属性信息
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="equipments">
                                    装备
                                </button>
                              </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary leftMenu">
                        <div class="panel-heading" id="collapseListGroupHeading6" data-toggle="collapse" data-target="#collapseListGroup6" role="tab" >
                            <h4 class="panel-title">
                                任务
                                <span class="glyphicon glyphicon-chevron-down right"></span>
                            </h4>
                        </div>
                        <div id="collapseListGroup6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading6">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="quests">
                                    任务
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="quest_reward_list">
                                    任务奖励表
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="quest_objectives">
                                    任务目标
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="quest_dependencies">
                                    任务依赖关系
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="dialogue_quest_dependencies">
                                    对话任务关系
                                </button>
                              </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary leftMenu">
                        <div class="panel-heading" id="collapseListGroupHeading7" data-toggle="collapse" data-target="#collapseListGroup7" role="tab" >
                            <h4 class="panel-title">
                                事件
                                <span class="glyphicon glyphicon-chevron-down right"></span>
                            </h4>
                        </div>
                        <div id="collapseListGroup7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading7">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="event_data">
                                    事件
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="event_attacks">
                                    攻击事件
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="event_dialogues">
                                    对话事件
                                </button>
                              </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary leftMenu">
                        <div class="panel-heading" id="collapseListGroupHeading8" data-toggle="collapse" data-target="#collapseListGroup8" role="tab" >
                            <h4 class="panel-title">
                                对话
                                <span class="glyphicon glyphicon-chevron-down right"></span>
                            </h4>
                        </div>
                        <div id="collapseListGroup8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading8">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="dialogues">
                                    对话列表
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="dialogue_relations">
                                    对话关系
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="npc_dialogues">
                                    NPC对话
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="dialogue_quest_dependencies">
                                    对话任务关系
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="event_dialogues">
                                    对话事件
                                </button>
                              </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary leftMenu">
                        <div class="panel-heading" id="collapseListGroupHeading9" data-toggle="collapse" data-target="#collapseListGroup9" role="tab" >
                            <h4 class="panel-title">
                                商店
                                <span class="glyphicon glyphicon-chevron-down right"></span>
                            </h4>
                        </div>
                        <div id="collapseListGroup9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading9">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="shops">
                                    商店
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="shop_goods">
                                    商品
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="npc_shops">
                                    NPC的商店
                                </button>
                              </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary leftMenu">
                        <div class="panel-heading" id="collapseListGroupHeading10" data-toggle="collapse" data-target="#collapseListGroup10" role="tab" >
                            <h4 class="panel-title">
                                资源
                                <span class="glyphicon glyphicon-chevron-down right"></span>
                            </h4>
                        </div>
                        <div id="collapseListGroup10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading10">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="image_resources">
                                    图像
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="icon_resources">
                                    图标
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left" data-table="localized_strings">
                                    本地化字符串
                                </button>
                              </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary leftMenu">
                        <div class="panel-heading" id="collapseListGroupHeading11" data-toggle="collapse" data-target="#collapseListGroup11" role="tab" >
                            <h4 class="panel-title">
                                管理
                                <span class="glyphicon glyphicon-chevron-down right"></span>
                            </h4>
                        </div>
                        <div id="collapseListGroup11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading11">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <button class="menu-item-left" data-page="load_files">
                                    上传/下载
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button id="apply-button" class="menu-item-left">
                                    应用
                                </button>
                              </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-10" id="content-box">
                <div id="table-box">
                </div>
                <div id="editor-box">
                </div>
                <div id="page-box">
                </div>
            </div>
        </div>

        <!-- Confirm Model -->  
        <div class="modal fade" id="confirm-dialog" data-backdrop="static">  
            <div class="modal-dialog">  
                <div class="modal-content message_align">  
                    <div class="modal-header">  
                        <button type="button" id="close-button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 id="confirm-title" class="modal-title"></h4>  
                    </div>  
                    <div id="confirm-content" class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" id="cancel-button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" id="confirm-button" class="btn btn-primary">OK</button>
                    </div> 
                </div>
            </div>
        </div>

        <script src="../libs/jquery-3.2.1.min.js"></script>
        <script src="../libs/bootstrap.min.js"></script>
        <script src="../config.js"></script>
        <script src="../service/service.js"></script>
        <script src="../controller/main.js"></script>
    </body>

</html>
