<!DOCTYPE html>
<html lang="zh-CN">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>表格</title>
        <meta name="HandheldFriendly" content="True" />
        <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../css/bootstrap-table.min.css" rel="stylesheet" type="text/css" >
        <link href="../css/object_table.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="header">
            <div id="table-name" class="pull-left">
            </div>
            <div class="pull-right">
                <button id="add-record" type="button" class="btn btn-default right">Add</button>
            </div>
            <div style="clear:both"></div>
        </div>
        <table id="data-table"></table>
        <script src="../libs/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="../libs/bootstrap.min.js" type="text/javascript"></script>
        <script src="../libs/bootstrap-table.min.js" type="text/javascript"></script>
        <script src="../config.js" type="text/javascript"></script>
        <script src="../utils/utils.js" type="text/javascript"></script>
        <script src="../service/service.js" type="text/javascript"></script>
        <script src="../controller/common_table.js" type="text/javascript"></script>
        <script src="../controller/object_table.js" type="text/javascript"></script>
        <script type="text/javascript">
            var controller = new ObjectTable();
            $(document).ready(function() {controller.init()});
        </script>
    </body>

</html>
