<!DOCTYPE html>
<html lang="zh-CN">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>上传</title>
        <meta name="HandheldFriendly" content="True" />
        <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../css/bootstrap-table.min.css" rel="stylesheet" type="text/css" >
        <link href="../css/upload.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <form>
            <fieldset>
                <legend>
                    Upload a data file to the database.
                </legend>
                <div id="notice-block">
                    NOTICE: Current world's data will be replaced!
                </div>
                <select id="model-name">
                </select>
                <input type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
                <button type="button" id="upload-file" class="btn btn-default">Upload</button>
            </fieldset>
        <div>Upload a zip file of resources.</div>
        <div><span style="color: red">NOTICE: Current resources will be replaced!</span></div>
        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          <input type="file" name="import_resources_all" accept="application/zip"/>
          <input type="submit" value="Upload"/>
        </form>

        <script src="../libs/jquery-3.2.1.min.js"></script>
        <script src="../libs/bootstrap.min.js"></script>
        <script src="../config.js"></script>
        <script src="../service/service.js"></script>
        <script src="../utils/utils.js"></script>
        <script src="../controller/upload.js"></script>
    </body>

</html>
