<div class="modal-header">
	<div id="combat_center_time">Time: <span id="combat_timeout"></span></div>
	<div id="combat_desc"></div>
	<div id="combat_status_bar"><span id="combat_name"></span> <span id="combat_status"></span></div>
</div>
<div id="combat_characters" class="modal-body">
	<div class="template">
		<div class="status"></div>
		<div class="div_icon">
			<img class="img_icon"/>
		</div>
		<div class="name"></div>
	</div>
</div>
<div id="combat_messages">
	<div class="msg template"></div>
</div>
<div id="combat_buttons" class="modal-footer">
	<button class="btn_combat template" type="button">
		<center>
			<img class="command_icon">
		</center>
		<div class="command_name"></div>
		<div class="cooldown"></div>
	</button>
</div>
