<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, user-scalable=no" />
        <meta charset="utf-8" />

        <!--CSS style sheet -->
        <link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/webclient.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/confirm_combat.css" />

        <script src="../libs/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="../controllers/confirm_combat.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div class="modal-header">
            <button id="button_close" type="button" class="close">×</button>
            <h4 id="popup_header" class="modal-title"></h4>
        </div>
        <div class="modal-body">
            <p id="popup_body">Found an opponent.</p>
            <p id="time"></p>
        </div>
        <div id="popup_footer" class="modal-footer">
            <button id="button_confirm" type="button" class="btn btn-default">Confirm</button>
        </div>
    </body>
</html>
