<div class="modal-header">
	<button id="dlg_close_box" type="button" class="close">×</button>
	<h4 id="dlg_header" class="modal-title"></h4>
</div>
<div class="modal-body">
	<div id="dlg_div_icon">
		<img id="dlg_img_icon"/>
	</div>
	<div id="dialogue_body">
		<div id="dialogue_content"></div>
		<p class="template" >
			<a></a>
		</p>
	</div>
</div>
<div id="dlg_footer" class="modal-footer">
	<center>
		<button id="dlg_bottom_button" type="button" class="btn btn-default"></button>
	</center>
</div>
