<div id="info_box_infomation">
	<table id="info_info_table" style="width: 100%;">
		<tbody>
			<tr>
				<td>
					<div id="info_box_status">
						<div>
							<div>
								<img id="info_obj_icon" src="" />
								<span id="info_name"></span>
							</div>
							<div id="info_attributes">
								<div class="template">
									<span class="attr_name"></span>: <span class="attr_value"></span>
								</div>
							</div>
						</div>
					</div>
				</td>
				<td>
					<div id="info_box_equipment">
						<div>
							<span id="info_view_head">HEAD: </span>
							<a id="POSITION_HEAD"></a>
						</div>
						<div>
							<span id="info_view_hand">HAND: </span>
							<a id="POSITION_HAND"></a>
						</div>
						<div>
							<span id="info_view_chest">CHEST: </span>
							<a id="POSITION_CHEST"></a>
						</div>
						<div>
							<span id="info_view_leg">LEG: </span>
							<a id="POSITION_LEG"></a>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
