<div id="inv_box_inventory">
	<div id="inv_inventory_wrapper">
		<table id="inv_tab_inventory">
			<thead>
				<tr>
					<th id="inv_view_name">NAME</th>
					<th id="inv_view_number">NUM</th>
					<th id="inv_view_desc">DESC</th>
				</tr>
			</thead>
			<tbody id="inv_inventory_items">
				<tr class="template">
					<td>
						<div class="obj_icon">
							<img class="img_icon"/>
						</div>
						<a class="obj_name"></a>
					</td>
					<td class="obj_number"></td>
					<td class="obj_desc"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
