<!DOCTYPE html>
<html lang="en-us">
    <head>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, user-scalable=no" />
        <meta charset="utf-8" />

        <!--CSS style sheet -->
        <link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/webclient.css" />
    </head>
    <body>
        <div id="box_login">
            <div id="view_header">Please login.</div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <input id="login_name" type="text" placeholder="username" aria-describedby="basic-addon2" autocomplete="off" class="form-control editbox" />
                        </td>
                        <td>
                            <input id="login_password" type="password" placeholder="password" aria-describedby="basic-addon2" autocomplete="off" class="form-control editbox" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div><span id="check_save_password">Save Password</span><input id="cb_save_password" type="checkbox"></div>
                            <div><span id="check_auto_login">Auto Login</span><input id="cb_auto_login" type="checkbox"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="button_login" class="btn btn-default">Login</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script src="../libs/jquery-3.2.1.min.js" defer="defer" type="text/javascript" charset="utf-8"></script>
        <script src="../client/scripts.js" defer="defer" type="text/javascript" charset="utf-8"></script>
        <script src="../client/importer.js" defer="defer" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
