 <div id="box_register">
    <table>
        <tbody>
            <tr>
                <td id="password_view_current">Current Password</td>
            </tr>
            <tr>
                <td>
                    <input id="current_password" type="text" placeholder="current password" aria-describedby="basic-addon2" autocomplete="off" class="form-control editbox" />
                </td>
            </tr>
            <tr>
                <td id="password_view_password">New Password</td>
            </tr>
            <tr>
                <td>
                    <input id="new_password" type="password" placeholder="new password" aria-describedby="basic-addon2" autocomplete="off" class="form-control editbox" />
                </td>
                <td>
                    <input id="password_verify" type="password" placeholder="password verify" aria-describedby="basic-addon2" autocomplete="off" class="form-control editbox" />
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td>
                    <button id="password_button_change" type="button" class="btn btn-default">Change</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
