<!DOCTYPE html>
<html lang="en-us">
    <head>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, user-scalable=no" />
        <meta charset="utf-8" />

        <!--CSS style sheet -->
        <link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/webclient.css" />

        <script src="../libs/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="../controllers/quick_login.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div id="box_login">
            <div id="view_header">Please login.</div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <input id="login_name" type="text" placeholder="name" aria-describedby="basic-addon2" autocomplete="off" class="form-control editbox" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="view_button_login" onclick="controller.doLogin()" class="btn btn-default">Login</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
