 <div id="box_login">
    <div id="quick_login_view_header">Please login.</div>
    <table>
        <tbody>
            <tr>
                <td>
                    <input id="quick_login_name" type="text" placeholder="name" aria-describedby="basic-addon2" autocomplete="off" class="form-control editbox" />
                </td>
            </tr>
            <tr>
                <td>
                    <button id="button_quick_login" class="btn btn-default">Login</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
