 <div id="box_register">
    <table>
        <tbody>
            <tr>
                <td id="register_view_name">Name</td>
            </tr>
            <tr>
                <td>
                    <input id="reg_name" type="text" placeholder="username" aria-describedby="basic-addon2" autocomplete="off" class="form-control editbox" />
                </td>
            </tr>
            <tr>
                <td id="register_view_password">Password</td>
            </tr>
            <tr>
                <td>
                    <input id="reg_password" type="password" placeholder="password" aria-describedby="basic-addon2" autocomplete="off" class="form-control editbox" />
                </td>
                <td>
                    <input id="reg_password_verify" type="password" placeholder="password verify" aria-describedby="basic-addon2" autocomplete="off" class="form-control editbox" />
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td>
                    <button id="button_register" type="button" class="btn btn-default">Register</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>