<div class="modal-header">
	<button type="button" id="shop_close_box" class="close">×</button>
	<h4 id="shop_name" class="modal-title"></h4>
</div>
<div class="modal-body">
	<div id="shop_icon">
		<img id="shop_img_icon"/>
	</div>
	<div id="shop_desc"></div>
	<div id="shop_goods_wrapper">
		<table id="shop_goods_table" class="tab_shop">
			<thead>
				<tr>
					<th id="shop_header_name">NAME</th>
					<th id="shop_header_price">PRICE</th>
					<th id="shop_header_desc">DESC</th>
				</tr>
			</thead>
			<tbody id="shop_goods_list">
				<tr class="template">
					<td>
						<center class="goods_icon">
							<img class="img_icon"/>
						</center>
						<a class="goods_name"></a>
					</td>
					<td class="goods_price">
						<span class="price"></span>
						<span class="unit"></span>
					</td>
					<td class="goods_desc"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
