
#tab_inventory {
    border-collapse: collapse;
    border-color: #aaa;
    border-style: solid;
    border-width: 1px;
    margin: 8px;
}

#tab_inventory th {
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
    padding: 4px 8px 4px 8px;
    font-weight: normal;
}

#tab_inventory td {
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
    padding: 4px 8px 4px 8px;
}

.obj_icon {
    text-align: center;
}

.img_icon {
	width: 30px;
	height: 30px;
}

.obj_name {
    text-align: center;
}