<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}
<html dir="ltr" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="{{encoding}}" />

    <title>Muddery 演示游戏</title>

    <!--CSS style sheet -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "webclient/css/webclient.css" %}">
    <link rel="stylesheet" href="{% static "webclient/css/bootstrap.min.css" %}">
    <!-- Importing the online jQuery javascript library -->
    <!--script src="http://code.jquery.com/jquery-1.6.1.js" type="text/javascript" charset="utf-8"></script-->
    <!--script src="http://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script-->

    <!--for offline testing, download the jquery library from jquery.com-->
    <script src="{% static "webclient/js/jquery-1.11.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/jquery.cookie.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/bootstrap.min.js" %}"></script>
    <script src="{% static "webclient/js/d3.v3.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
    if(!window.jQuery){document.write("<div class='err'>jQuery library not found or the online version could not be reached.</div>");}
    </script>

    {% if websocket_enabled %}
    <script language="javascript" type="text/javascript">
        document.write("\<script src=\"{% static "webclient/js/local_string.js" %}\" type=\"text/javascript\" charset=\"utf-8\"\>\</script\>");
            document.write("\<script src=\"{% static "webclient/js/lang/zh/strings.js" %}\" type=\"text/javascript\" charset=\"utf-8\"\>\</script\>");

    if ("WebSocket" in window) {
    <!-- Importing the Muddery websocket webclient component (requires jQuery)  -->
    var wsurl = "ws://" + this.location.hostname + ":{{websocket_port}}";
    document.write("\<script src=\"{% static "webclient/js/evennia_websocket_webclient.js" %}\" type=\"text/javascript\" charset=\"utf-8\"\>\</script\>");
    document.write("\<script src=\"{% static "webclient/js/muddery_websocket_webclient.js" %}\" type=\"text/javascript\" charset=\"utf-8\"\>\</script\>");
    }
    else {
    <!-- No websocket support in browser. Importing the Muddery ajax webclient component (requires jQuery)  -->
    document.write("\<script src=\"{% static "webclient/js/evennia_ajax_webclient.js" %}\" type=\"text/javascript\" charset=\"utf-8\"\>\</script\>");
    document.write("\<script src=\"{% static "webclient/js/muddery_ajax_webclient.js" %}\" type=\"text/javascript\" charset=\"utf-8\"\>\</script\>");
    }

    document.write("\<script src=\"{% static "webclient/js/muddery_webclient.js" %}\" type=\"text/javascript\" charset=\"utf-8\"\>\</script\>");
    document.write("\<script src=\"{% static "webclient/js/muddery_webclient_uimgr.js" %}\" type=\"text/javascript\" charset=\"utf-8\"\>\</script\>");
    document.write("\<script src=\"{% static "webclient/js/muddery_commands.js" %}\" type=\"text/javascript\" charset=\"utf-8\"\>\</script\>");
    document.write("\<script src=\"{% static "webclient/js/muddery_combat.js" %}\" type=\"text/javascript\" charset=\"utf-8\"\>\</script\>");
    document.write("\<script src=\"{% static "webclient/js/muddery_map.js" %}\" type=\"text/javascript\" charset=\"utf-8\"\>\</script\>");
    document.write("\<script src=\"{% static "webclient/js/resources.js" %}\" type=\"text/javascript\" charset=\"utf-8\"\>\</script\>");
    document.write("\<script src=\"{% static "webclient/js/text2html.js" %}\" type=\"text/javascript\" charset=\"utf-8\"\>\</script\>");
    document.write("\<script src=\"{% static "webclient/js/utils.js" %}\" type=\"text/javascript\" charset=\"utf-8\"\>\</script\>");
    </script>
    {% else %}
    <!-- websocket not enabled; use ajax -->
    <script src="{% static "webclient/js/local_string.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/lang/zh/strings.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/evennia_ajax_webclient.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/muddery_ajax_webclient.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/muddery_webclient.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/muddery_webclient_uimgr.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/muddery_commands.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/muddery_map.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/resources.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/text2html.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/utils.js" %}" type="text/javascript" charset="utf-8"></script>
    {% endif %}

</head>
<body>
<header class="header" id="header_bar">
    <div class="site-title" id="site-title">
        <center><h5>Muddery 演示游戏</h5></div>
    </div>
</header>
<div id="map_button">
    <input type="button" class="btn-map" value="地图" onclick="map.showMap()"/>
</div>
<div id="wrapper">
    <div id="middlewindow" style="height: 100%; width: auto;margin-left: auto;margin-right: auto;">
        <div id="prompt_bar">
        </div>
        <div class="panel panel-default">
            <div id="msg_wnd" class="panel-body" style="overflow-x: hidden; overflow-y: auto;">
                <!--javascript kills this when page has finished loading: -->
                <div id="connecting"> Connecting ...</div>
                <!--this is supplied by django view - webclient/views.py: -->
                <div id="noscript"><h3>Javascript Error: The Muddery webclient requires that you have Javascript activated.</h3>
                    <p>Turn off eventual script blockers and/or switch to a web
                        browser supporting javascript.</p><p>For admins: The error
                        could also be due to not being able to access the online
                        jQuery javascript library. If you are testing the client
                        without an internet connection, you have to previously
                        download the jQuery library from http://code.jquery.com
                        (it's just one file) and then edit webclient.html to point
                        to the local copy.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div id="tab_content" class="panel-body">
                <form id="page_connect" style="height:300px; display: none">
                    <div>请连接到服务器。</div>
                    <div>
                        <input type="button" class="btn button_left" value="连接" onclick="doConnect()"/>
                    </div>
                </form>
                <form id="page_login" style="height:300px; display: none">
                    <div>请登录。</div>
                    <table>
                        <tr>
                            <td>用户名：</td>
                            <td>
                                <input id="login_name" type="text" placeholder="请输入用户名" class="form-control" aria-describedby="basic-addon2" value="" autocomplete="off"/>
                            </td>
                        </tr>
                        <tr>
                            <td>密码：</td>
                            <td>
                                <input id="login_password" type="password" placeholder="请输入密码" class="form-control" aria-describedby="basic-addon2" value="" autocomplete="off"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                记住密码: <input id="cb_save_password" type="checkbox" onclick="commands.doSetSavePassword()"/><br/>
                                自动登录: <input id="cb_auto_login" type="checkbox"/>
                            </td>
                            <td><input type="button" class="btn btn-default" value="登录" onclick="commands.doLogin()"/></td>
                        </tr>
                    </table>
                </form>
                <form id="page_register" style="height:300px; display: none">
                    <div>请注册。</div>
                    <table>
                        <tr>
                            <td>用户名：</td>
                            <td>
                                <input id="reg_name" type="text" placeholder="请输入用户名" class="form-control" aria-describedby="basic-addon2" value="" autocomplete="off"/>
                            </td>
                        </tr>
                        <tr>
                            <td>昵称：</td>
                            <td>
                                <input id="reg_nickname" type="text" placeholder="请输入密码" class="form-control" aria-describedby="basic-addon2" value="" autocomplete="off"/>
                            </td>
                        </tr>
                        <tr>
                            <td>密码：</td>
                            <td>
                                <input id="reg_password" type="password" placeholder="请再次输入密码" class="form-control" aria-describedby="basic-addon2" value="" autocomplete="off"/>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <input type="button" class="btn btn-default" value="注册" onclick="commands.doRegister()"/>
                    </div>
                </form>
                <form id="page_room" style="display: none">
                </form>
                <form id="page_status" style="display: none">
                    <div id="block_status"></div>
                    <div><br></div>
                    <div id="block_equipments"></div>
                </form>
                <form id="page_inventory" style="display: none">
                </form>
                <form id="page_skills" style="display: none">
                </form>
                <form id="page_quests" style="display: none">
                </form>
                <!--form id="page_test" style="display: none">
                    <div>
                        <div>Do test.</div>
                        <div>
                            <input type="button" class="btn btn-default" value="TEST" onclick="commands.doTest()"/>
                        </div>
                    </div>
                </form-->
            </div>
        </div>
        <div id="tab_bar">
            <ul id="tab_pills" class="nav nav-tabs">
                <li id="tab_connect" role="presentation" class="active" style="display: none">
                    <a href="#" onclick="webclient.showPage('connect')">连接</a>
                </li>
                <li id="tab_login" role="presentation" style="display: none">
                    <a href="#" onclick="webclient.showPage('login')">登录</a>
                </li>
                <li id="tab_register" role="presentation" style="display: none">
                    <a href="#" onclick="webclient.showPage('register')">注册</a>
                </li>
                <li id="tab_room" role="presentation" style="display: none">
                    <a href="#" onclick="webclient.showPage('room')">房间</a>
                </li>
                <li id="tab_status" role="presentation" style="display: none">
                    <a href="#" onclick="webclient.showPage('status')">状态</a>
                </li>
                <li id="tab_inventory" role="presentation" style="display: none">
                    <a href="#" onclick="webclient.showPage('inventory')">背包</a>
                </li>
                <li id="tab_skills" role="presentation" style="display: none">
                    <a href="#" onclick="webclient.showPage('skills')">技能</a>
                </li>
                <li id="tab_quests" role="presentation" style="display: none">
                    <a href="#" onclick="webclient.showPage('quests')">任务</a>
                </li>
                <li id="tab_map" role="presentation" style="display: none">
                    <a id="map_button" href="#" onclick="map.showMap()">地图</a>
                </li>
                <li id="tab_system" role="presentation" class="dropdown" style="display: none">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" onclick="webclient.showMenuSystem()">系统 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="page_system"><a href="#" onclick="commands.doLogout()">退出</a></li>
                        <!--<li role="separator" class="divider"></li>-->
                    </ul>
                </li>
                <!--<li id="tab_command">-->
                <!--<div class="form-group" style="float:left;">-->
                <!--<input type="text" placeholder="" class="form-control" aria-describedby="basic-addon2" value="" autocomplete="off"/>-->
                <!--</div>-->
                <!--<input type="button" class="btn btn-default" value="发送" onclick="commands.doSendCommand()"/>-->
                <!--</li>-->
                <!--li id="tab_test" role="presentation">
                    <a href="#" onclick="webclient.showTestPage()">Test</a>
                </li-->
            </ul>
        </div>
    </div>
</div>
</body>
</html>