<!DOCTYPE html>
<html lang="zh-CN">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>表格</title>
        <meta name="HandheldFriendly" content="True" />
        <!-- Bootstrap3.3.5 CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="css/bootstrap-table.min.css" rel="stylesheet" type="text/css" >
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <table id="data_table"></table>
        <script src="libs/jquery-3.2.1.min.js"></script>
        <script src="libs/bootstrap.min.js"></script>
        <script src="libs/bootstrap-table.min.js"></script>
        <script src="controller/common_table.js"></script>
    </body>

</html>