
#editor-window {
}

#window-left {
    float: left;
    width: 100%;
}

#window-right {
    float: right;
    width: 210px;
    margin-left: -210px;
    font-size: 12px;
    padding: 5px;
}

#window-map {
    margin-right: 220px;
    overflow: auto;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

#container {
    position: relative;
}

#element-selector {
    position: absolute;
    left: 0;
    top: 0;
    width: 65px;
    height: 75px;
    padding: 0;
    margin: 0;
    font-size: 12px;
    background-color: rgba(192, 192, 192, 0.75);
    z-index: 1;
}

#selector-title {
    padding: 2px 5px;
}

#map-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    height: 400px;
}

#map-svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    height: 400px;
    z-index: 1;
}

.image-input-control {
    padding: 0;
    margin: 5px 0;
    width: 200px;
}

.button-control {
    margin: 5px 0;
}

.text-input-control {
    width: 80px;
    height: 20px;
}

.block {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
}

.block-title {
    padding: 5px;
    margin: 0;
    font-size: 14px;
}

.element-room {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid #555;
    background: #fff;
    font-size: 12px;
    line-height: 14px;
    z-index: 2;
}

#element-room {
    left: 10px;
    top: 25px;
}

.element-room.element-selected {
    border: 5px solid #e60;
}

.element-room-name {
    position: absolute;
    width: 80px;
    height: 20px;
    text-align: center;
    z-index: 2;
    pointer-events: none;
}

.element-menu {
    border: 1px solid #aaa;
    border-radius: 5px;
    background: #fff;
    z-index: 100;
}

.menu-item {
    padding: 5px;
    border-bottom: 1px solid #555;
}

.menu-item:last-child {
    border-bottom: 0;
}

.room-menu {
    width: 200px;
}

.menu-room-name {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px 2px 10px;
}

.menu-room-key, .menu-room-typeclass {
    text-align: center;
    font-size: 14px;
    padding: 2px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-button-bar {
    text-align: center;
}

.room-menu-button {
    margin: 10px;
}

.drag-button {
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 10px;
    border-radius: 2px;
}

.exit-menu-item {
    overflow: hidden;
}

.exit-label {
    padding: 0 10px 0 5px;
    float: left;
}

.exit-button-bar {
    float: right;
}

.exit-menu-button {
    margin: 2px;
}
