
#events, #properties {
    padding: 10px 0;
}

.event-title,
.properties-title {
    display: inline-block;
}

#event-table,
#properties-table {
    border: 1px solid #000;
    max-width: 100%;
}

#event-table td,
#event-table th,
#properties-table td,
#properties-table th {
    font-weight: normal;
    word-wrap: break-word;
    padding: 2px 5px;
    border: 1px solid #000;
}
