{% extends "base.html" %}
{% block content %}
    <h1>Characters</h1>
    Welcome to the Character Page. Characters are activited objects what can move by themselves.
    Some of them can be puttied by players.

    <h3><a href="../">BACK</a></h3>

    <h2><a href="./characters/character_careers/list.html">Character Careers</a></h2>
    Character's career decides their features, such as basic attribute values, basic skills, equipments etc.

    <h2><a href="./characters/character_attributes_info/list.html">Character Attributes Information</a></h2>
    Set what attributes characters can have.

    <h2><a href="./characters/character_models/list.html">Character Models</a></h2>
    Character's models, include HP, MP, and other attributes. With models, game designers can create
    batchs of similar characters easily.

    <h2><a href="./characters/world_npcs/list.html">World NPCs</a></h2>
    These NPCs are unique in the whole game world. Their initial positions are fixed.

    <h2><a href="./characters/common_characters/list.html">Common Characters</a></h2>
    Common characters are not unique, their initial positions are not unique. It includes player's
    character and common mobs.

    <h2><a href="./characters/default_objects/list.html">Default Objects</a></h2>
    Character's default objects. Characters are born with their default objects.

    <h2><a href="./characters/skills/list.html">Skills</a></h2>
    All available skills are in this table.

    <h2><a href="./characters/default_skills/list.html">Default Skills</a></h2>
    Character's default skills. Characters are born with their default skills.

    <h2><a href="./characters/npc_dialogues/list.html">NPC Dialogues</a></h2>
    NPC's dialogue. Game designers can make NPCs talk by setting their dialogues.

    <h2><a href="./characters/character_loot_list/list.html">Character Loot List</a></h2>
    Loot list sets the objects to drop. When players kill characters, they can get these objects.

{% endblock content %}