{% extends "base.html" %}
{% block content %}
<h1 xmlns="http://www.w3.org/1999/html">Defines</h1>
    Welcome to the Defines Page. Here defines a set of basic values.

    <h3><a href="../">BACK</a></h3>

    <h2><a href="./defines/game_settings/form.html?_record=1">Game Settings</a></h2>
    Game's basic settings.

    <h2><a href="./defines/class_categories/list.html">Class Categories</a></h2>
    The basic categories of object types.

    <h2><a href="./defines/typeclasses/list.html">Typeclasses</a></h2>
    All available typeclasses. Typeclass's paths must match the values in codes.

    <h2><a href="./defines/equipment_types/list.html">Equipment Types</a></h2>
    Equipment Types limit character's available equipments. Characters can only put on equipments
    that match their careers.

    <h2><a href="./defines/equipment_positions/list.html">Equipment Positions</a></h2>
    Equipments only can be put on right positions, such as hands or legs.

    <h2><a href="./defines/character_careers/list.html">Character Careers</a></h2>
    Character's career decides their features, such as basic attribute values, basic skills, equipments etc.

    <h2><a href="./defines/quest_objective_types/list.html">Quest Objective Types</a></h2>
    Quest objective's type. They must match the values in utils.defines.

    <h2><a href="./defines/quest_dependency_types/list.html">Quest Dependency Types</a></h2>
    Quest's dependency types. They must match the values in utils.defines.

    <h2><a href="./defines/event_types/list.html">Event Types</a></h2>
    The types of actions that events lead to. They must match the values in utils.defines.

    <h2><a href="./defines/event_trigger_types/list.html">Event Trigger Types</a></h2>
    Event trigger's types. They must match the values in utils.defines.

{% endblock content %}