{% extends "base.html" %}
{% block content %}
    <h1>Dialogues</h1>
    Welcome to the Dialogues Page. Here sets dialogues data.

    <h3><a href="../">BACK</a></h3>

    <h2><a href="./dialogues/dialogues/list.html">Dialogues</a></h2>
    Dialogue's name and their condtions. Only dialogues who match the condition can be shown.

    <h2><a href="./dialogues/dialogue_relations/list.html">Dialogue Chain</a></h2>
    Some dialogues can be shown right after other dialogues. Their relations can form a chain or a tree.

    <h2><a href="./dialogues/npc_dialogues/list.html">NPC Dialogues</a></h2>
    NPC's dialogue. Game designers can make NPCs talk by setting their dialogues.

    <h2><a href="./dialogues/dialogue_quest_dependencies/list.html">Dialogue Quest Dependencies</a></h2>
    Some dialogues can be shown only when relative quests have been done or have not been done. These
    relations are set in this table.

    <h2><a href="./dialogues/event_dialogues/list.html">Event Dialogues</a></h2>
    Data of dialogue events. Some events can trigger dialogues.

{% endblock content %}