{% extends "base.html" %}
{% block content %}
    <h1>Equipments</h1>
    Welcome to the Equipments Page. You can set equipments data here.

    <h3><a href="../">BACK</a></h3>

    <h2><a href="./equipments/equipment_types/list.html">Equipment Types</a></h2>
    Equipment Types limit character's available equipments. Characters can only put on equipments
    that match their careers.

    <h2><a href="./equipments/equipment_positions/list.html">Equipment Positions</a></h2>
    Equipments only can be put on right positions, such as hands or legs.

    <h2><a href="./equipments/equipments/list.html">Equipments</a></h2>
    All equipments' data are in this table.

    <h2><a href="./equipments/career_equipments/list.html">Career Equipments</a></h2>
    Defines certain careers can put on what kinds of equipments.

{% endblock content %}