{% extends "base.html" %}
{% block content %}
    <h1>Events</h1>
    Welcome to the Events Page.

    <h3><a href="../">BACK</a></h3>

    <h2><a href="{% url "admin:worlddata_event_types_changelist" %}">Event Types</a></h2>
    Event result's types. They must match the types in utils.defines.

    <h2><a href="{% url "admin:worlddata_event_trigger_types_changelist" %}">Event Trigger Types</a></h2>
    Event trigger's types. They must match the types in utils.defines.

    <h2><a href="{% url "admin:worlddata_event_data_changelist" %}">Events</a></h2>
    Event's basic data.

    <h2><a href="{% url "admin:worlddata_event_attacks_changelist" %}">Event Attacks</a></h2>
    Attack event's additional data.

    <h2><a href="{% url "admin:worlddata_event_dialogues_changelist" %}">Event Dialogues</a></h2>
    Dialogue event's additional data.

    <p>If you are an advanced user who needs access to the raw Django Admin, it is available <a href="{% url "django_admin" %}">here</a>.</p>

{% endblock content %}