{% extends "base.html" %}
{% block content %}
    <h1>Objects</h1>
    Welcome to the Objects Page.

    <h3><a href="../">BACK</a></h3>

    <h2><a href="./objects/world_objects/list.html">World Objects</a></h2>
    World objects are unique. Their initial positions are fixed.

    <h2><a href="./objects/common_objects/list.html">Common Objects</a></h2>
    Players can bring common objects and put them in their inventories.

    <h2><a href="./objects/foods/list.html">Foods</a></h2>
    Players can eat foods to increate their hp/mp/etc.

    <h2><a href="./objects/skill_books/list.html">Skill Books</a></h2>
    Players can use skill books to learn new skills.

    <h2><a href="./objects/equipments/list.html">Equipments</a></h2>
    All equipments' data are in this table.

    <h2><a href="./objects/creator_loot_list/list.html">Creating Object List</a></h2>
    Object list sets the source and the odds of the objects. Players can get there objects from object
    creators.

    <h2><a href="./objects/default_objects/list.html">Default Objects</a></h2>
    Character's default objects. Characters are born with their default objects.

{% endblock content %}