{% extends "base.html" %}

{% load staticfiles %}

{% block header_ext %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "worldeditor/css/worldeditor.css" %}">
    <script src="{% static "worldeditor/js/worldeditor.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
    <nav class="editor_nav">
        <a class="nav_button" href="{% url 'worlddata:index' %}">Editor</a>
		<a class="nav_button" href="editor/tools.html">Tools</a>
	</nav>
	
    <h2>Get all unlocalized strings in all Python files.</h2>
    <form method="GET">
      <input type="submit" value="Get"/>
      <input type="hidden" name="export_py_localized_strings"/>
      <input type="hidden" name="file_type" value="py"/>
    </form>
    
    <h2>Get all localization strings in all Javascript files.</h2>
    <form method="GET">
      <input type="submit" value="Get"/>
      <input type="hidden" name="export_js_localized_strings"/>
      <input type="hidden" name="file_type" value="js"/>
    </form>

{% endblock content %}