{% extends "base.html" %}

{% load staticfiles %}

{% block header_ext %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "worldeditor/css/worldeditor.css" %}">
    <script src="{% static "worldeditor/js/worldeditor.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
    <h1>World Editor</h1>
    In World Editor, you can edit the whole game world.

    <h2><a href="editor/defines.html">Basic Defines</a></h2>
    Here defines all kinds of basic values.

    <h2><a href="editor/worldmap.html">World Map</a></h2>
    You can modify the whole game world's appearance here.

    <h2><a href="editor/characters.html">Characters</a></h2>
    Characters are activited objects what can move by themselves. All data about characters can be modified
    here.

    <h2><a href="editor/objects.html">Objects</a></h2>
    Basic objects can not move or think. Some of them can be put in player's inventories, some are fixed in
    some place in the world.

    <h2><a href="editor/equipments.html">Equipments</a></h2>
    Players can put on equipments and improve their attributs.

    <h2><a href="editor/quests.html">Quests</a></h2>
    A game can provide quests to players to complete.

    <h2><a href="editor/events.html">Events</a></h2>
    Events can be triggered on certain conditions and lead to specified actions.

    <h2><a href="editor/dialogues.html">Dialogues</a></h2>
    Players can have dialogues with NPCs. And they can used to show stories.

    <h2><a href="editor/shops.html">Shops</a></h2>
    Players can buy goods from NPCs.
    
    <h2><a href="editor/localization.html">Localization</a></h2>
    Localization can translate original game contents to local language contents.

    <h2><a href="editor/resources.html">Resources</a></h2>
    The webclient uses resources to show images and icons.

    <div><br></div>
    <hr/>
    <h2>Download data of the game world.</h2>
    <div>(Install xlwt/xlsxwriter to support download xls/xlsx files.)</div>
    <div>Download data the game world to a zip file of csv files.</div>
    <form method="GET">
      <input type="submit" value="Download"/>
      <select name="file_type">
        {% for writer in writers %}
        <option value={{ writer.type }}>{{ writer.name }}</option>
        {% endfor %}
      </select>
      <input type="hidden" name="export_game_data"/>
    </form>
    <div><br></div>

    <div>Download a data table.</div>
    <form method="GET">
      <input type="submit" value="Download"/>
      <select name="model_name">
        {% for model in models %}
        <option value="{{ model.key }}">{{ model.name }}</option>
        {% endfor %}
      </select>
      <select name="file_type">
        {% for writer in writers %}
        <option value={{ writer.type }}>{{ writer.name }}</option>
        {% endfor %}
      </select>
      <div><br></div>
      <input type="hidden" name="export_data_single"/>
    </form>
    <div><br></div>

    <div>Download game resources files to a zip file.</div>
    <form method="GET">
      <input type="hidden" name="export_resources"/>
      <input type="submit" value="Download"/>
    </form>
    <div><br></div>

    <hr/>
    <h2>Upload data of the game world.</h2>
    <div>(Install xlrd to support upload xls/xlsx files.)</div>
    <div>Upload a zip file of csv files to the database.</div>
    <div><span style="color: red">NOTICE: Current world's data will be replaced!</span></div>
    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <input type="file" name="import_data_all" accept="application/zip"/>
      <input type="submit" value="Upload"/>
    </form>
    <div><br></div>

    <div>Upload a data file to the database.</div>
    <div><span style="color: red">NOTICE: Current world's data will be replaced!</span></div>
    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <select name="model_name">
        <option value="">---------</option>
        {% for model in models %}
        <option value="{{ model.key }}">{{ model.name }}</option>
        {% endfor %}
      </select>
      <input type="file" name="import_data_single" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
      <input type="submit" value="Upload"/>
    </form>
    <div><br></div>

    <div>Upload a zip file of resources.</div>
    <div><span style="color: red">NOTICE: Current resources will be replaced!</span></div>
    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <input type="file" name="import_resources_all" accept="application/zip"/>
      <input type="submit" value="Upload"/>
    </form>
    <div><br></div>
    <hr/>

    <h2>Apply changes to the game.</h2>
    <div>Apply game world's data to the server. You need to restart the server then.</div>
    <form method="POST">
      {% csrf_token %}
      <input type="hidden" name="apply"/>
      <input type="submit" value="Apply"/>
    </form>

    <p>If you are an advanced user who needs access to the raw Django Admin, it is available <a href="{% url "django_admin" %}">here</a>.</p>

{% endblock content %}