{% extends "base.html" %}
{% block content %}
    <h1>World Map</h1>
    Welcome to the World Map Page. You can modify the whole game world's appearance here.

    <h3><a href="../">BACK</a></h3>

    <h2><a href="./worldmap/world_areas/list.html">Areas</a></h2>
    These are logical areas used to divide rooms into groups.

    <h2><a href="./worldmap/world_rooms/list.html">Rooms</a></h2>
    Rooms compose basic map.

    <h2><a href="./worldmap/world_exits/list.html">Exits</a></h2>
    Exits link rooms together.

    <h2><a href="./worldmap/world_objects/list.html">World Objects</a></h2>
    World objects are unique. Their initial positions are fixed.

    <h2><a href="./worldmap/world_npcs/list.html">World NPCs</a></h2>
    These NPCs are unique in the whole game world. Their initial positions are fixed.

{% endblock content %}