<!DOCTYPE html>
{% load staticfiles %}
<html dir="ltr" lang="{{language_code}}">
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, user-scalable=no" />
    <meta charset="utf-8" />

    <title>Muddery Webclient</title>

    <!--CSS style sheet -->
    <link rel="stylesheet" href="{% static "public/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "webclient/css/webclient.css" %}">
    <!-- Importing the online jQuery javascript library -->
    <!--script src="http://code.jquery.com/jquery-1.6.1.js" type="text/javascript" charset="utf-8"></script-->
    <!--script src="http://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script-->

    <!--for offline testing, download the jquery library from jquery.com-->
    <script src="{% static "public/js/jquery-1.11.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "public/js/jquery.cookie.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "public/js/bootstrap.min.js" %}"></script>
    <script src="{% static "public/js/d3.v3.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        if(!window.jQuery){document.write("<div class='err'>jQuery library not found or the online version could not be reached.</div>");}
    </script>

    <!-- load settings -->
    <script src="{% static "webclient/js/settings.js" %}" type="text/javascript" charset="utf-8"></script>

    <!-- load local strings -->
    <script src="{% static "webclient/js/local_string.js" %}" type="text/javascript" charset="utf-8"></script>
    <!-- load language file-->
    {% if language_code %}
    <script src="{% static "webclient/js/lang/" %}{{language_code}}/strings.js" type="text/javascript" charset="utf-8"></script>
    {% endif %}

    <!-- Set up Websocket url and load the evennia.js library-->
    <script language="javascript" type="text/javascript">
        {% if websocket_enabled %}
            var wsactive = true;
        {% else %}
            var wsactive = false;
        {% endif %}

        {% if browser_sessid %}
           var csessid = "{{browser_sessid}}";
        {% else %}
           var csessid = false;
        {% endif %}

        {% if websocket_url %}
            var wsurl = "{{websocket_url}}:{{websocket_port}}";
        {% else %}
            var wsurl = "ws://" + this.location.hostname + ":{{websocket_port}}";
        {% endif %}
    </script>
    <script src="{% static "webclient/js/evennia.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/webclient.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/webclient_uimgr.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/webclient_popupmgr.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/commands.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/combat.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/map.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/frame.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/text2html.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/data_handler.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/escape.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "webclient/js/utils.js" %}" type="text/javascript" charset="utf-8"></script>

  </head>
  <body>
    <div id="noscript" class="err">
        <h3>Javascript Error: The Evennia MUD client requires that you
            have Javascript activated.</h3>
            <p>Turn off eventual script blockers and/or switch to a
            web browser supporting javascript. <p>
            This error could also be due to not being able to access
            the online jQuery javascript library.</p>
        <!-- This is will only fire if javascript is actually active -->
        <script language="javascript" type="text/javascript">
            $('#noscript').remove();
        </script>
    </div>
  </body>
</html>
