{% extends "base.html" %}
{% block content %}
    <h1>任务</h1>
    欢迎来到任务界面。

    <h3><a href="../">返回</a></h3>

    <h2><a href="./quests/quests/list.html">任务</a></h2>
    任务的基础信息，包括任务的名称、描述、条件等。

    <h2><a href="./quests/quest_reward_list/list.html">任务奖励表</a></h2>
    任务奖励表设置了奖励物品的来源和生成几率。

    <h2><a href="./quests/quest_objective_types/list.html">任务目标类型</a></h2>
    任务目标的类型，它们必须与 utils.defines 中的定义一致。

    <h2><a href="./quests/quest_objectives/list.html">任务目标</a></h2>
    一个任务只有在它的目标全都达成后才能完成。

    <h2><a href="./quests/quest_dependency_types/list.html">任务依赖类型</a></h2>
    定义了各种任务依赖关系，它们必须与 utils.defines 中的定义一致。

    <h2><a href="./quests/quest_dependencies/list.html">任务依赖关系</a></h2>
    有些任务只有在其他任务已经完成或没有完成时才能接受，这里记录了这些依赖关系。

    <h2><a href="./quests/dialogue_quest_dependencies/list.html">对话－任务依赖关系</a></h2>
    有些对话只有当某些任务完成或未完成时才会显示，这里记录了这些依赖关系。

{% endblock content %}