<!DOCTYPE html>
<html lang="zh-CN">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>应用</title>
        <meta name="HandheldFriendly" content="True" />
        <link href="../css/bootstrap.min.css?hash=08df9a96" rel="stylesheet" type="text/css" />
        <link href="../css/main.css?hash=58d3930d" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div><h3>Apply all changes to your game.</h3></div>
        <button id="apply-button" type="button" class="btn btn-success">Apply</button>

        <script src="../libs/jquery-3.2.1.min.js?hash=1055018c" type="text/javascript"></script>
        <script src="../libs/bootstrap.min.js?hash=b07a5be9" type="text/javascript"></script>
        <script src="../libs/jsencrypt/jsencrypt.min.js?hash=733d4d1a" type="text/javascript"></script>
        <script src="../config.js?hash=3b615658" type="text/javascript"></script>
        <script src="../service/service.js?hash=64cf9359" type="text/javascript"></script>
        <script src="../utils/utils.js?hash=b5e16be9" type="text/javascript"></script>
        <script src="../controller/apply_changes.js?hash=743db930" type="text/javascript"></script>
    </body>

</html>
