<!DOCTYPE html>
<html lang="zh-CN">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>表格</title>
        <meta name="HandheldFriendly" content="True" />
        <link href="../css/bootstrap.min.css?hash=08df9a96" rel="stylesheet" type="text/css" />
        <link href="../css/bootstrap-table.min.css?hash=d819dada" rel="stylesheet" type="text/css" />
        <link href="../css/main.css?hash=58d3930d" rel="stylesheet" type="text/css" />
        <link href="../css/common_table.css?hash=b40d525e" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="header">
            <div id="table-name" class="pull-left">
            </div>
            <div class="pull-right">
                <button id="add-record" type="button" class="btn btn-default right">Add</button>
            </div>
            <div style="clear:both"></div>
        </div>
        <table id="data-table"></table>
        <script src="../libs/jquery-3.2.1.min.js?hash=1055018c" type="text/javascript"></script>
        <script src="../libs/bootstrap.min.js?hash=b07a5be9" type="text/javascript"></script>
        <script src="../libs/bootstrap-table.min.js?hash=f367ac61" type="text/javascript"></script>
        <script src="../config.js?hash=b0778795" type="text/javascript"></script>
        <script src="../utils/utils.js?hash=b5e16be9" type="text/javascript"></script>
        <script src="../service/service.js?hash=002a39a9" type="text/javascript"></script>
        <script src="../controller/common_table.js?hash=f51d1039" type="text/javascript"></script>
        <script src="../controller/dialogue_table.js?hash=f51d1039" type="text/javascript"></script>
        <script type="text/javascript">
            var controller = new DialogueTable();
            $(document).ready(function() {controller.init()});
        </script>
    </body>

</html>
