{% extends "base.html" %}
{% block content %}
    <h1>角色</h1>
    欢迎进入角色设置界面，角色是可以自主活动或被玩家操控的物体。

    <h3><a href="../">返回</a></h3>

    <h2><a href="{% url "admin:worlddata_character_careers_changelist" %}">角色职业</a></h2>
    角色的职业决定了角色的基本特性，包括属性、技能、装备等方面的特点。

    <h2><a href="{% url "admin:worlddata_character_models_changelist" %}">角色模版</a></h2>
    角色数据的模版，包括生命、魔法、攻击、防御等数值。通过模版可以很方便地生成大批相似的角色。

    <h2><a href="{% url "admin:worlddata_world_npcs_changelist" %}">世界NPC</a></h2>
    世界NPC在整个世界中是独一无二的，他们的初始位置是固定不变的。

    <h2><a href="{% url "admin:worlddata_common_characters_changelist" %}">普通角色</a></h2>
    普通角色可以在世界上多次出现，他们的位置不固定。包括普通玩家角色、小怪等。

    <h2><a href="{% url "admin:worlddata_skills_changelist" %}">技能</a></h2>
    角色可用的所有技能都在这里。

    <h2><a href="{% url "admin:worlddata_default_skills_changelist" %}">默认技能</a></h2>
    角色的默认技能，角色一出生就带有这些默认技能。

    <h2><a href="{% url "admin:worlddata_npc_dialogues_changelist" %}">NPC对话</a></h2>
    NPC的对话，可以通过设置这些对话让NPC说话。

    <h2><a href="{% url "admin:worlddata_loot_list_changelist" %}">掉落列表</a></h2>
    掉落列表纪录了掉落物体的来源及生成几率，可用于物体生成器、角色等。

    <p>If you are an advanced user who needs access to the raw Django Admin, it is available <a href="{% url "django_admin" %}">here</a>.</p>

{% endblock content %}