{% extends "base.html" %}
{% block content %}
    <h1>物体</h1>
    欢迎来到物体界面。

    <h3><a href="../">返回</a></h3>

    <h2><a href="./objects/world_objects/list.html">世界物体</a></h2>
    世界物体在世界范围内是唯一的，它们的初始位置是固定的。

    <h2><a href="./objects/common_objects/list.html">普通物体</a></h2>
    普通物体可以由玩家携带，放入他们的行囊中。

    <h2><a href="./objects/object_creators/list.html">物体生成器</a></h2>
    物体生成器的附加信息，物体生成器可以创造出新的物体。

    <h2><a href="./objects/creator_loot_list/list.html">生成物品列表</a></h2>
    物品列表设置了物品的来源和生成几率，玩家可以从物品生成器获得这些物品。

{% endblock content %}