
body {
    overflow-x: hidden;
}

#login-view {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #66bbcc;
}

#login-box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.title {
    margin-top: 0;
    margin-bottom: 20px;
}

.navbar {
    margin-bottom: 5px;
    min-height: 40px;
    border-radius: 0;
}

.container-fluid {
    padding: 7px 15px 5px 15px;
}

.navbar-brand {
    padding: 0px 15px;
    height: auto;
}

.navbar-nav>li>a {
    padding: 0px 15px;
    height: auto;
}

.navbar-drop-menu {
    min-width: 80px;
}

#menu-box {
    position: absolute;
    padding: 0;
    width: 130px;
}

.panel-group {
    max-height: 770px;
    overflow: visible;
    border: 0px none;
}

#login-message {
    padding: 8px 0px;
    color: #ff0000;
}

.leftMenu {
    margin: 5px 5px 0 5px;
}

.leftMenu .panel-heading {
    padding: 10px 10px;
    color: white;
    position: relative;
    cursor: pointer;
}

.leftMenu .panel-heading .panel-title {
    font-size: 14px;
}

.leftMenu .panel-heading span {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 12px;
}

.leftMenu .menu-item-left {
    padding: 2px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 6px;
}

.leftMenu .menu-item-left:hover {
    background: #C4E3F3;
    border:1px solid #1E90FF;
}

.leftMenu a.menu-item-left {
    color: #333;
    text-decoration: none;
}

.list-group-item {
    padding: 5px 5px;
}

#content-box {
    position: absolute;
    margin-left: 135px;
    padding: 0;
    width: auto;
    overflow: hidden;
}

.content-frame {
    display: none;
    border-style: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 5px 5px;
}

#add_record {
    margin: 0 0 10px 0;
}

