{% extends "base.html" %}
{% block header_ext %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
{% endblock %}
{% block content %}
<h1 xmlns="http://www.w3.org/1999/html">Defines</h1>
    Webclient's settings.

    <form action="submit.html" method="post">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-row">
         {{ field.label_tag }}:{{ field }}
         {{ field.errors }}
      </div>
      {% endfor %}
      <input type="hidden" name="_form" value="client_settings" />
      <input type="hidden" name="_record" value="1" />
      <div class="submit-row">
        <input type="submit" name="_quit" value="Back without save" />
        <input type="submit" name="_continue" value="Save and continue editing" />
        <input type="submit" class="default" name="_save" value="Save" />
      </div>
    </form>

{% endblock content %}