<!DOCTYPE html>
{% load staticfiles %}
<html lang="{{language_code}}">
    <head>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, user-scalable=no" />
        <meta charset="utf-8" />

        <!--CSS style sheet -->
        <link rel="stylesheet" href="{% static "public/css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static "webclient/css/webclient.css" %}">

        <script src="{% static "public/js/jquery-1.11.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "webclient/js/controllers/login.js" %}" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div id="box_login">
            <div>请登录。</div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <input id="login_name" type="text" placeholder="用户名" aria-describedby="basic-addon2" autocomplete="off" class="form-control editbox">
                        </td>
                        <td>
                            <input id="login_password" type="password" placeholder="密码" aria-describedby="basic-addon2" autocomplete="off" class="form-control editbox">
                        </td>
                    </tr>
                    <tr colspan="2">
                        <td>
                            <div>保存密码<input id="cb_save_password" type="checkbox" onclick="login.doSetSavePassword()"></div>
                            <div>自动登录<input id="cb_auto_login" type="checkbox"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" onclick="login.doLogin()" class="btn btn-default" value="登录">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
